$grey : rgb(200,200,200);
$font: rgba($color: rgb(211,211,211), $alpha: 0.5);
@mixin figmarg{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


    @font-face {
    font-family: "roboto";
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "robotobold";
    src: url(/assets/fonts/Roboto/Roboto-Bold.ttf);
}

a{
    :hover :active :link :visited{
      text-decoration: none;
      color:none;
    }
}

.fightscreen{
    display: default; }

main{
    display: none;
}

h1{
    font-family: "robotobold";
    font-weight: bold;
    font-size: 76px;
    color: $font;
    text-shadow: -5px -5px white;
    margin-bottom: 25px;
}

h2{
    font-family: "robotobold";
    font-weight: bold;
    font-size: 36px;
    color: $font;
    text-shadow: -2px -2px white;
}
h3{
    font-family: "robotobold";
    font-weight: bold;
    font-size: 24px;
    color: $font;
    text-shadow: -2px -2px white;
}

.backtohome {
    position: absolute;
    top : 25px; right : 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color : $font;
    text-shadow: -2px -2px white;
}

body{
    background : $grey;
    background-image: url(/images/background.jpg);
    font-family: "roboto";
}

header{
    text-align: center;
}
main{
    display: block;
    width: 60%;
    margin :{
        right: auto;
        left: auto;
    }
}

#pimg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pname{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     div {
         margin-top: -40px;
         h2{
            text-align: center;
         }
        input {
        height: 25px;
        width: 300px;
        border-radius: 10px;
        }
     }

}

#racechoose{
    display: grid;
}

#p1race{
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    div{
        grid-column: span 4;
        margin-left: auto;
        margin-right: auto;
    }
    figure{
        @include figmarg();
        grid-row: 2;
        margin-left: auto;
        margin-right: auto;
        img:hover {
            transform: scale(1.5);
            cursor: pointer;
          }
    }
}

#p2race{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 2;
    grid-column: 2;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    div{
        grid-column: span 4;
        margin-left: auto;
        margin-right: auto;
    }
    figure{
        @include figmarg();
        grid-row: 2;
        margin-left: auto;
        margin-right: auto;
        img:hover {
            transform: scale(1.5);
            cursor: pointer;
          }
    }
}

#itemchoose{
    display: grid;
}

#p1item{
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 1;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    div{
        grid-column: span 4;
        margin-left: auto;
        margin-right: auto;
    }
    figure{
        @include figmarg();
        grid-row: 2;
        margin-left: auto;
        margin-right: auto;
        img{
            width: 50px;
        }
        img:hover {
            transform: scale(1.5);
            cursor: pointer;
          }
    }
}

#p2item{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 2;
    grid-column: 2;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    div{
        grid-column: span 4;
        margin-left: auto;
        margin-right: auto;
    }
    figure{
        @include figmarg();
        grid-row: 2;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        img{
            width: 50px;
        }
        img:hover {
            transform: scale(1.5);
            cursor: pointer;
          }
    }
}

#start{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 60px;
    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255,255,255, .5));
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    :hover{
        cursor: pointer;
        color: rgb(255, 197, 197);
        // background: radial-gradient(rgba(255, 255, 255, .3), rgba(255,255,255, .7));
        background: radial-gradient(rgba($color: #fc3131, $alpha: 0.1), rgba($color: #fc3131, $alpha: 0.4));
        border: 2px solid black;
        border-radius: 20px;
    }
}
#combatlog{
    display:none;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
}

#cpname{
    display: grid;
    grid-template-rows: 1;
}
#cp1name{
    grid-column: 1;
    text-align: center;
} 

#cp2name{
    grid-column: 2;
    text-align: center;
}

#hpmp1{
    grid-columns: 1;
    width: 300px;
    height: 20px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#hpp1{
    width: 100%;
    height: 20px;
    text-align: center;
    background: greenyellow;
    border-radius: 5px;
}

#hpmp2{
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
    width: 300px;
    height: 20px;
    background: red;
    border-radius: 5px;
}

#hpp2{
    width: 100%;
    height: 20px;
    text-align: center;
    background: greenyellow;
    border-radius: 5px;
}
#portrait{
    display:grid;
}
#portraitp1{
    @include figmarg()
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    img{
        border-radius: 25px;
        border : 2px solid $grey;
    }
}
#portraitp2{
    @include figmarg()
    margin-top: 5%;    
    margin-left: auto;
    margin-right: auto;
    img{
        border-radius: 25px;
        border : 2px solid $grey;
    }
}

#fightbuttonp1{
    display: flex;
    justify-content: space-evenly;
    grid-column: 1;
    margin-top: 5%;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    div{
        color: black;
        background: radial-gradient(rgba(255, 255, 255, .2), rgba(255,255,255, .5));
        border: 2px solid black;
        box-shadow: 5px 5px 5px black;
        border-radius: 5px;
        font-size: 24px;
        padding-left: 5px;
        padding-right: 5px;
        &:hover{
            color: rgb(255, 197, 197);
            // background: radial-gradient(rgba(255, 255, 255, .3), rgba(255,255,255, .7));
            background: radial-gradient(rgba($color: #fc3131, $alpha: 0.1), rgba($color: #fc3131, $alpha: 0.4));
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

#fightbuttonp2{
    display: flex;
    grid-column: 2;
    justify-content: space-evenly;
    margin-top: 5%;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    div{
        color: black;
        background: radial-gradient(rgba(255, 255, 255, .2), rgba(255,255,255, .5));
        border: 2px solid black;
        box-shadow: 5px 5px 5px black;
        border-radius: 5px;
        font-size: 24px;
        padding-left: 5px;
        padding-right: 5px;
        &:hover{
            color: rgb(255, 197, 197);
            // background: radial-gradient(rgba(255, 255, 255, .3), rgba(255,255,255, .7));
            background: radial-gradient(rgba($color: #fc3131, $alpha: 0.1), rgba($color: #fc3131, $alpha: 0.4));
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
#logbyturn{
    grid-column: 1/3;
    margin-top: 50px;
}
#textlog{
    height: 150px;
    width: 100%;
    background: radial-gradient(rgba(255, 255, 255, .2), rgba(255,255,255, .5));
    border-radius: 10px;
    font-size: 14px;
    padding : 5px;
    overflow: auto;
    // overflow-y: hidden;
    display: flex;
    flex-direction: column;
    div{
        font{
        text-shadow: 1px 1px black;
        }
    }
}